#### STEP -1 UNDERSTAND DATA

In [93]:
import pandas as pd

In [110]:
df = pd.read_csv('Employee_hopping.csv')

**Properties**

In [95]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [96]:
df.shape

(1470, 35)

In [97]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [98]:
df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [100]:
df['JobRole'].value_counts()

Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: JobRole, dtype: int64

#### STEP -2 EXTRACT X AND Y

In [111]:
X = df.drop(['Attrition'],axis=1)
y = df.Attrition

In [112]:
y = y.apply(lambda x:1 if x == 'Yes' else 0)

#### STEP - 3 FEATURE ENGINEERING

In [113]:
df = pd.get_dummies(df,columns=['BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus','Over18','OverTime'])

#### STEP -4 CHECK SHAPE OF X AND Y

In [114]:
X = df.drop(['Attrition'],axis=1)
print('X Shape : ',X.shape)
print('y Shape : ',y.shape)

X Shape :  (1470, 55)
y Shape :  (1470,)

#### MODEL DEVELOPMENT

In [115]:
import warnings
warnings.filterwarnings('ignore')

In [131]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size =0.2, random_state =42)

In [132]:
from sklearn.ensemble import RandomForestClassifier
RFC = RandomForestClassifier(n_estimators=100, max_features=0.3)

In [133]:
RFC.fit(X_train,y_train)

RandomForestClassifier(max_features=0.3)

In [134]:
RFC_y_pred = RFC.predict(X_test)
RFC_y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

#### STEP 6 ['TESTING']

In [135]:
from sklearn.metrics import accuracy_score,classification_report

In [136]:
RFC_acc = accuracy_score(y_test,RFC_y_pred)
RFC_acc

0.8673469387755102

In [137]:
print(classification_report(y_test, RFC_y_pred))

              precision    recall  f1-score   support

           0       0.88      0.98      0.93       255
           1       0.50      0.10      0.17        39

    accuracy                           0.87       294
   macro avg       0.69      0.54      0.55       294
weighted avg       0.83      0.87      0.83       294

#### STEP 7 FEATURE IMPORTANT VALUE

In [139]:
print(RFC.feature_importances_)

[0.05803889 0.05285643 0.04095939 0.01621263 0.         0.04581798
 0.02148232 0.03771737 0.0188891  0.02597626 0.02365064 0.08266107
 0.04243741 0.0342609  0.02711859 0.00304234 0.01682156 0.
 0.02757427 0.04869721 0.02345059 0.02003073 0.03285495 0.02251348
 0.02487909 0.02802866 0.00239378 0.0116889  0.00590533 0.00232829
 0.00695987 0.00748624 0.00302901 0.0050694  0.00512498 0.00631563
 0.00299012 0.00597415 0.00542274 0.00518489 0.0013594  0.00245171
 0.0074223  0.00112386 0.00237154 0.00028962 0.00594999 0.00827845
 0.00692704 0.00437841 0.00400884 0.02016579 0.         0.04273947
 0.04068839]

In [143]:
feature_name = pd.DataFrame(RFC.feature_importances_, index=X_train.columns, columns=['Important_Feature'])
feature_name

                                   Important_Feature
Age                                         0.058039
DailyRate                                   0.052856
DistanceFromHome                            0.040959
Education                                   0.016213
EmployeeCount                               0.000000
EmployeeNumber                              0.045818
EnvironmentSatisfaction                     0.021482
HourlyRate                                  0.037717
JobInvolvement                              0.018889
JobLevel                                    0.025976
JobSatisfaction                             0.023651
MonthlyIncome                               0.082661
MonthlyRate                                 0.042437
NumCompaniesWorked                          0.034261
PercentSalaryHike                           0.027119
PerformanceRating                           0.003042
RelationshipSatisfaction                    0.016822
StandardHours                               0.000000
StockOptionLevel                            0.027574
TotalWorkingYears                           0.048697
TrainingTimesLastYear                       0.023451
WorkLifeBalance                             0.020031
YearsAtCompany                              0.032855
YearsInCurrentRole                          0.022513
YearsSinceLastPromotion                     0.024879
YearsWithCurrManager                        0.028029
BusinessTravel_Non-Travel                   0.002394
BusinessTravel_Travel_Frequently            0.011689
BusinessTravel_Travel_Rarely                0.005905
Department_Human Resources                  0.002328
Department_Research & Development           0.006960
Department_Sales                            0.007486
EducationField_Human Resources              0.003029
EducationField_Life Sciences                0.005069
EducationField_Marketing                    0.005125
EducationField_Medical                      0.006316
EducationField_Other                        0.002990
EducationField_Technical Degree             0.005974
Gender_Female                               0.005423
Gender_Male                                 0.005185
JobRole_Healthcare Representative           0.001359
JobRole_Human Resources                     0.002452
JobRole_Laboratory Technician               0.007422
JobRole_Manager                             0.001124
JobRole_Manufacturing Director              0.002372
JobRole_Research Director                   0.000290
JobRole_Research Scientist                  0.005950
JobRole_Sales Executive                     0.008278
JobRole_Sales Representative                0.006927
MaritalStatus_Divorced                      0.004378
MaritalStatus_Married                       0.004009
MaritalStatus_Single                        0.020166
Over18_Y                                    0.000000
OverTime_No                                 0.042739
OverTime_Yes                                0.040688

In [142]:
import matplotlib.pyplot as plt
import seaborn as sns

In [146]:
plt.figure(figsize=(20,10))
sns.barplot(x= feature_name, y=feature_name['Important_Feature'])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().